<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bdsisos</property>
    <property name="hibernate.connection.username">gledsoncruz</property>
    <property name="hibernate.connection.password">teste</property>
    <!--
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/sisosdb</property>
    <property name="hibernate.connection.username">gledson</property>
    <property name="hibernate.connection.password">gledson</property> -->
    <mapping class="br.com.sisos.model.Peca"/>
    <mapping class="br.com.sisos.model.ServicoPeca"/>
    <mapping class="br.com.sisos.model.Autorizacao"/>
    <mapping class="br.com.sisos.model.Cliente"/>
    <mapping class="br.com.sisos.model.Servico"/>
    <mapping class="br.com.sisos.model.ServicoStatus"/>
    <mapping class="br.com.sisos.model.Tecnico"/>
    <mapping class="br.com.sisos.model.TipoServico"/>
    <mapping class="br.com.sisos.model.Usuario"/>
  </session-factory>
</hibernate-configuration>
